body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans Regular",helvetica,arial,sans-serif;
    background-color: rgb(18, 18, 18);
    color: rgb(255, 255, 255);
}

.contenedor {
    margin-left: 10px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    margin-bottom: 200px;
}
.info-contacto {
    margin-left: 20px;
}
.info-titulo {
    margin-left: 80px;
    color: rgb(255, 255, 255);

}
.info-texto {
    margin-left: 100px;
    color: gray;

}
.mapa {
    position:relative;
    width:600px;
    height:350px;
    border:1px solid red;
}